pre.code {
    white-space: pre-wrap;
    
  }
  pre.code:before {
    counter-reset: listing;
    
  }
  pre.code code {
    counter-increment: listing;
  }
  pre.code code::before {
    content: counter(listing) ". ";
    display: inline-block;
    width: 8em;         /* doesn't work */
    padding-left: auto; /* doesn't work */
    margin-left: auto;  /* doesn't work */
    margin-bottom: 15px;
    text-align: right;  /* doesn't work */
  }

